<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/public_folder/css/index.css">
</head>
<body>
	<div id="header">
		<div id = "header_container">	
			<a href="/" id="header_jamknife">JAMKNIFE</a>
			<a href="/login" id="Sign_in">Log in</a>
			<a href="/signup" id="Sign_up">Sign up</a>
		</div>
	</div>
	<div id="section_1">
		<div id="section_1_cont">
			<div id="left_side">
				<p style="font-size:24px; font-weight:200;">You Have Great Taste in Music</p>
				<p style="font-size:24px; font-weight:200;">More People Should Know</p>
				<h5 style="font-size:24px; font-weight:200;">Welcome to <span style="font-weight:700;">Jamknife</span></h5>
			</div>
			<img id= "right_side" src="public_folder/images/records.gif"/>
	    </div>
	</div>	
	<div id="section_2">
		<div id="logo_container">
			<img id="logo"src="public_folder/images/logo.png">
		</div>
		<p id="one_of_us">Are You One Of Us?</p>
		<img id="collage"src="public_folder/images/collage.png">
		<p id="what_is_jamknife">Jamknife is a platform for music lovers to share the songs that are part of thier identity, and showcase their favourite music.</p>
	</div>	
	<div id="section_3">
		<div id="album_arts_overlay"></div>
		<img id= "album_arts" src="public_folder/images/album_arts.gif" data-stellar-ratio="2"/>
	</div>
	<div id="section_4">
		<a href="">
			<div id="start_collection">
				<p id="start_collection_text">Start building your collection</p>
			</div>
		</a>
	</div>
		<div id="footer">
			<div id="footer_container">
				<img id="footer_logo" src="public_folder/images/footer_logo.png">
				<p id="footer_jamknife">JAMKNIFE &copy;</p>
				<p id="made_in">Made in Waterloo, ON.</p>
				<a href="mailto:team@jamknife.com" id="contact">Contact Us.</a>
			</div>
		</div>
	</div>
</body>
</html>