<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="css/profile_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
    <script type="text/javascript">
		Parse.initialize("<%=parseApplicationId%>", "<%=parseJavascriptkey%>");
    </script>
</head>
<body>
	<div id="header">
		<div id="navigation">
			<a href="jamknife.com"><h5 id="font_logo">JAMKNIFE</h5></a>
			<p class="post_button">POST SONG</p>
			<p class="log_button">LOG OUT</p>
			<div id="user_nav">
				<img class="avatar" src="images/default_picture.png">
				<p class="username">demi.adeniyi</p>
			</div>
		</div>
	</div>
	<div>
	<div id="profile_section">
		<div id="edit_profile_wrapper">
			<i class="fa fa-cogs"></i>
			<p id="edit_profile">EDIT PROFILE</p>
		</div>
		<div id="avatar_container">
			<img class="avatar" src="images/default_picture.png">
		</div>
		<h class="username">DEMI.ADENIYI</h>
		<h2 class="full_name">Demi Adeniyi</h2>
		<p class="bio">I know you want to leave me but i refuse to let you</p>
		<a class="website" href="www.colouredconversations.com">colouredconversations.com</a>
		<div id="counters">
			<div id="crate">
				<p class="no_of_songs">250</p>
				<p id="crate_label">CRATE</p>
			</div>
			<img id= "counter_divider" src="images/counter_div.png">
			<div id="views">
				<p class="no_of_views">800</p>
				<p id="views_label">VIEWS</p>
			</div>
		</div>
		<p id="featured_label">FEATURED SONG</p>
		<div id="fav_song">
			<img class="featured_thum" =""src="images/album arts/dangelo.jpg">
		</div>
		<div id="profile_footer"></div>		
	</div>
	<div id="second_header">
		<p id="second_header_label">CRATE</p>
		<h5 class="edit_crate_button">EDIT CRATE</h5>	
	</div>
	<div id="container">
		<i class="fa fa-star"></i>
		<p class="fav_label">CURRENT ROTATION</p>
		<ol class="favorites">
			<li class="post">
				<i class="fa fa-trash fa-x"></i>
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/itunes.png">
				<p class="song_title">Betray My Heart is a good song to see</p>
				<p class="artist_name">D'angelo and the Vanguard yeah right<p>
			</li>
			<li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/itunes.png">
				<p class="song_title">Betray My Heart is a good song to see</p>
				<p class="artist_name">D'angelo and the Vanguard yeah right<p>
			</li>
			<li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/itunes.png">
				<p class="song_title">Betray My Heart is a good song to see</p>
				<p class="artist_name">D'angelo and the Vanguard yeah right<p>
			</li>
			<li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/itunes.png">
				<p class="song_title">Betray My Heart is a good song to see</p>
				<p class="artist_name">D'angelo and the Vanguard yeah right<p>
			</li>
		</ol>
		<i class="fa fa-circle-o"></i>
		<p class="all_songs_label">ALL SONGS</p>
		<ol class="all_songs">
			<li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart is a good song to try and kill someone </p>
				<p class="artist_name">D'angelo to try andokieifpto<p>
			</li>
			<li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li><li class="post">
				<img class= "thumbnail" src="images/album arts/dangelo.jpg" alt="">
				<img class= "thumb_overlay" src="images/soundcloud.png">
				<p class="song_title">Betray My Heart</p>
				<p class="artist_name">D'angelo<p>
			</li>			
		</ol>
	</div>
</body>
</html>