<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/public_folder/css/search.css">
	<script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="/javascripts/search.jsx" type="text/jsx"></script>
</head>	
<body>
	<div id="container">
	</div>	
</body>