@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body{
	position: relative;
	background: #fff;
	font-family: Open Sans, helvetica, Arial;
	margin:0px;
	padding: 0px;
	width:auto;
	min-width: 900px;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

#post_overlay{
	position: fixed;
	height: 100%;
	width:100%;
	margin:0px;
	padding: 0px;
	background-color:rgba(0,0,0,.9); 
	z-index: 999999999;
	text-align: center;
	overflow: scroll;
}

#post_console{
	position: relative;
	height: 590px;
	width: 900px;
	z-index: 2;
	background-color: #eeeceb;
	margin:0 auto;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	text-align: left;
	background-color: #eeeceb;
	overflow: hidden;
	opacity: .97;

}

#post_console_header{
	position: absolute;
	height: 39px;
	width: 900px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	background-color: #eeeceb;
	display: inline-block; 
	text-align: center;
	z-index: 9;
}

#post_go_back{
	position: absolute;
	top: 10px;
	left: 20px;
	display: inline-block;
	position:absolute;
	background-color: #eeeceb;
	border: none;
}


#post_cancel_post{
	position: absolute;
	top: 10px;
	right: 20px;
	display: inline-block;
	position:absolute;
	background-color: #eeeceb;
	border: none;
}

#post_label{
	position: relative;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
	top: 0px;
	font-weight: 600;
	text-transform: uppercase;
}

.post_album_cover{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 550px;
	width: 550px;
	display: inline-block;
	z-index: 900;
}

#post_main_overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 550px;
	width: 550px;
	background-color: black;
	opacity: .7;
	display: inline-block;
	z-index: 901;
}

.post_main {
	position: relative;
	top: 40px;
	height: 550px;
	width: 550px;
	display: inline-block;
	text-align: center;
	z-index: 5;
}

.post_pic{
	position:absolute;
	top: 35px;
	left: 35px;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border:1px solid rgba(255,255,255,.08);
	z-index: 902;
}

.post_username{
	position:absolute;
	top: 23px;
	font-weight: 600;
	font-size: 20px;
	color: white;
	left: 105px;
	z-index: 902;
	max-width: 282px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_timestamp{
	position:absolute;
	top: 36px;
	font-weight: 500;
	font-size: 13px;
	color: white;
	right: 105px;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	opacity: .8;
	z-index: 902;
}

.post_source{
	position:absolute;
	top: 73px;
	left: 105px;
	z-index: 902;
}

.post_artist_name{
	position:absolute;
	top: 480px;
	letter-spacing: .03;
	font-weight: 200;
	font-size: 16px;
	color: white;
	left: 36px;
	max-width:478px; 
	z-index: 902;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_song_name{
	position:absolute;
	letter-spacing: .03em;
	text-align: left;
	top: 450px;
	font-weight: 500;
	font-size: 20px;
	color: #51b8d7;
	max-width:478px;
	-webkit-filter: brightness(120%);
	left: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 902;
}


#post_caption_container{
	position: relative;
	text-align: center;
	left: 36px;
	right: 36px;
  	width: 478px;
  	max-height: 360px;
  	height: auto;
	z-index: 902;
	top: 50%;
    transform: translateY(-50%);
}

.post_caption{
	position: relative;
	color: white;
	letter-spacing:.05em;
	font-size: 16px;
	font-weight: 200;
	font-style: oblique;
}

.post_tags{
	position: relative;
	color: white;
	letter-spacing:.05em;
	font-size: 12px;
	font-weight: 200;
	left: 0px;
	padding: 0px;
}

.post_tags li {
	position: relative;
	display: inline-table;
	border: 1px solid white;
	border-radius: 25px;
	padding: 4px 10px 4px 10px;
	margin: 7px 5px 0px 0px;
	text-transform: capitalize; 
}

.post_tags li:hover {
	background-color:#fff;
	color:black;
	border-style: none;
}


.post_play_button{
	position: absolute;
	right: 36px;
	top: 36px;
	z-index: 903;
}

.post_video_button{
	position: absolute;
	right: 100px;
	top: 51px;
	z-index: 903;
	opacity: .7;
}

#post_form_container{
	position: absolute;
	display: inline-block;
	top: 40px;
	right: 0px;
	height: 548px;
	width: 349px;
	max-width: 349px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

textarea.bio{
	position: relative;
	font-family: Open Sans;
	width: 318px;
	font-size: 13px;
	height: 90px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:10px;
	z-index: 1;
	border:none;
	outline: none;
	resize:none;
	border-bottom: 1px solid rgba(255,255,255,1);
}

input.inputbox{
	position: relative;
	top: 4px;
	left: -1px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 319px;
	font-size: 13px;
	height: 20px;
	padding-left:15px;
	padding-right:15px;
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 15px;
}

input[type="submit"]{
	margin-top: 25px;
	left: 0px;
	font-weight: 600;
	font-size: 11px;
	text-align: center;
	padding:0px;
	letter-spacing: 1px;
	width: 350px;
	height: 50px;
	outline: none;
	border: 1px solid rgba(0,0,0,.08); 
	color: rgba(0,0,0,.7);
	background-color: #f1efea;
}

label{
	font-size: 13px;
	padding-left: 15px;
	font-style: italic;
	opacity: .7;

}