@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	background: #fff;
	font-family: Open Sans, helvetica, Arial;
	margin:0px;
	padding: 0px;
}

#post_overlay{
	position: fixed;
	height: 100%;
	width:100%;
	margin:0px;
	padding: 0px;
	background-color:rgba(230,230,230,.95); 
	z-index: 999999999;
	text-align: center;
	/*overflow: scroll;   //removed the scroll breaking the page */
}

/***************** Post Console ********************/

#post_console{
	position: relative;
	height: 590px;
	width: 980px;
	z-index: 2;
	margin:0 auto;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	text-align: left;
	overflow: hidden;
}

#post_console_header{
	height: 40px;
	text-align: center;
}

#post_console_header_label{
	color: white;
	font-weight: 600;
	font-size: 13px;
}

#post_go_back{
	position: absolute;
	top: 10px;
	left: 20px;
	display: inline-block;
	border: none;
	background: none;
	cursor: pointer;
}

#cancel_post{
	position: absolute;
	top: 10px;
	right: 20px;
	border: none;
	background: none;
	cursor: pointer;
}


/***************** Change Image ********************/

#change_post_bg{
	position: absolute;
	top:40px;
	height: 550px;
	width: 80px;
	border: none;
	background-color:#1a1a1a;
	z-index: 5;
	cursor:pointer;
}


#change_post_bg:hover{
	background-color: #1e1e1e;
}


#post_camera_icon{
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	color: white;
	z-index: 9999;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

/***************** lightbox ********************/

#post_console #post_lightbox{
	position: absolute;
	top: 40px;
	left: 80px;
	margin: 0px;
	padding: 0px;
	height: 550px;
	width: 550px;
}


#post_console #play_lightbox{
	position: absolute;
	right: 36px;
	top: 36px;
	z-index: 903;
	cursor:pointer;
}


#post_console #lightbox_caption_container{
	position: relative;
	text-align: center;
	left: 36px;
	right: 36px;
  	width: 478px;
  	max-height: 360px;
  	height: auto;
	z-index: 902;
	top: 49%;
    transform: translateY(-49%);
}


#post_console #post_lightbox .lightbox_caption{
	position: relative;
	color: white;
	letter-spacing:.05em;
	font-size: 16px;
	font-weight: 300;
	font-style: oblique;
}


#post_console #post_lightbox .lightbox_tags{
	position: relative;
	color: white;
	letter-spacing:.05em;
	font-size: 12px;
	font-weight: 200;
	left: 0px;
	padding: 0px;
}


#post_console #post_lightbox .lightbox_tags li {
	position: relative;
	display: inline-table;
	border: 1px solid white;
	border-radius: 25px;
	padding: 4px 10px 4px 10px;
	margin: 7px 5px 0px 0px;
	text-transform: capitalize; 
}


#post_console #post_lightbox .lightbox_tags li:hover {
	background-color:#fff;
	color:black;
	border-style: none;
}


#post_console #lightbox_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 550px;
	width: 550px;
	background-color: black;
	opacity: .75;
	display: inline-block;
	z-index: 901;
}


#post_console .lightbox_album_cover{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 550px;
	width: 550px;
	display: inline-block;
	z-index: 900;
}


#post_console .lightbox_avatar{
	position:absolute;
	top: 35px;
	left: 35px;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border:1px solid rgba(255,255,255,.08);
	z-index: 902;
}


#post_console .lightbox_username{
	position:absolute;
	top: 16px;
	font-weight: 700;
	font-size: 24px;
	color: white;
	left: 105px;
	z-index: 902;
	max-width: 282px;
	overflow: hidden;
	text-overflow: ellipsis;
}


#post_console #lightbox_video_button{
	position:absolute;
	top: 53px;
	color: white;
	right: 105px;
	z-index: 902;
	cursor:pointer;
}


#post_console .lightbox_source{
	position:absolute;
	top: 73px;
	left: 105px;
	z-index: 902;
}


#post_console .lightbox_artist_name{
	position:absolute;
	top: 480px;
	letter-spacing: .03;
	font-weight: 600;
	font-size: 18px;
	left: 36px;
	width:478px; 
	z-index: 902;
	text-align: left;
	color: #51b8d7;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}


#post_console .lightbox_song_name{
	position:absolute;
	letter-spacing: .03em;
	text-align: left;
	top: 450px;
	font-weight: 600;
	font-size: 20px;
	width:478px;
	left: 36px;
	z-index: 902;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



/***************** Form ********************/

#post_form_container{
	position: absolute;
	display: inline-block;
	top: 40px;
	right: 0px;
	height: 550px;
	width: 349px;
	max-width: 349px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: white;
}


#post_form_container form{
	padding-top: 15px;
}

#post_form_container textarea{
	position: relative;
	font-family: Open Sans;
	width: 318px;
	font-size: 13px;
	height: 90px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:10px;
	z-index: 1;
	border:none;
	outline: none;
	resize:none;
	border-bottom: 1px solid rgba(0,0,0,.08);
	border-top: 1px solid rgba(0,0,0,.08);
}


#post_form_container input{
	position: relative;
	top: 6px;
	left: -1px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 319px;
	font-size: 13px;
	height: 20px;
	padding-left:15px;
	padding-right:15px;
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 20px;
}


#post_form_container input[type="submit"]{
	margin-top: -3px;
	left: 0px;
	font-weight: 600;
	font-size: 11px;
	text-align: center;
	padding:0px;
	letter-spacing: 1px;
	width: 350px;
	height: 50px;
	outline: none;
	border: 1px solid rgba(0,0,0,.08); 
	color: rgba(0,0,0,.7);
	background-color: #fff;
	cursor:pointer;
}


#post_form_container label{
	font-size: 13px;
	padding-left: 15px;
	font-style: italic;
	opacity: .7;
}
